
@import './default.less';
@import './loading.less';

.container {
	display: flex;
	.nav-left {
		height: calc(100vh);
		background-color: @colorBlackA;
	}
	.main {
		height: calc(100vh);
		background-color: @colorWhiteA;
		overflow: auto;
	}
	.content {
		position: relative;
		padding: 20px;
	}
}

.content-wrap {
	background-color: @colorWhiteB;
	border: 1px solid @colorGrayB;
	margin-top: -3px;
	// 调整表格左右重叠部分 （与content-wrap重叠）
	.ant-table-wrapper {
		margin-left: -1px;
		margin-right: -2px;
	}
}